.centerAll {
    display: flex;
    justify-content: center;
    align-self: center;
}

/* spacing between items */

li {
    padding-top: 10px;
    list-style-type: circle;
}

input {
    margin-top: 20px;
}

ul {
    background-color: steelblue;
    width: 50vw;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}