<!-- HW7 Create a new component simply to test the process to create animations.  -->
<style>
  #outerdiv {
    display: flex;
    justify-content: center;
  }

  #innerDiv1 {
    margin-right: 20px;
    text-align: center;
  }

  #innerDiv2 {
    text-align: center;
  }

  .btn {
    margin-left: 10px;
    margin-top: 10px;
  }

</style>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<!-- create an animation to transition between to diﬀerent states on a small area of the screen, such as a small div. Control the state via a simple button.
 -->
<h2 style="text-align: center"> Animation Section - HW7 </h2>
<div id="outerdiv">

  <div id="innerDiv1">
    <p> Click the button to toggle between a dim box and a bright box</p>
    <button (click)="toggle()">Toggle</button>
    <div [@brightDim]="isBright ? 'bright' : 'dim'">
      <p>The box is now {{isBright ? 'Bright' : 'Dim' }}!</p>
    </div>
  </div>

  <div id="innerDiv2">
    <p> Select The Desired Mode</p>
    <button class="btn" (click)="changeMode(1)">Dim Mode</button>
    <button class="btn" (click)="changeMode(2)">Dark Mode</button>
    <button class="btn" (click)="changeMode(3)">Bright Mode</button>
    <button class="btn" (click)="changeMode(4)">Ultra Bright Mode</button>
    <div [@brightDim]="mode">
      <p>The box is now in {{ mode }} mode!</p>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
