HomeworkAndLabs\JavaLabs\.idea/
HomeworkAndLabs\JavaLabs\out/
HomeworkAndLabs\JavaLabs\JavaLabs.iml
HomeworkAndLabs\JavaLabs\JavaLab1_TypesAndVariables\.idea/
HomeworkAndLabs\JavaLabs\JavaLab1_TypesAndVariables\out/
HomeworkAndLabs\JavaLabs\JavaLab1_TypesAndVariables\JavaLab1_TypesAndVariables.iml
HomeworkAndLabs\JavaLabs\JavaLab2_ClassesAndInterfaces\.idea/
HomeworkAndLabs\JavaLabs\JavaLab2_ClassesAndInterfaces\JavaLab2_ClassesAndInterfaces.iml