#secondCompDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: blueviolet;
}

#directInjectionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
}
