.centerText {
  text-align: center;
}

#outterDiv1 {
  display: flex;
  justify-content: center;
}

.innerDiv {
  margin-right: 20px;
}

#div1 {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

#selectDiv {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 10px;
}

#buttondiv {
  padding: 10px;
}

#menuDiv {
  padding: 10px;
  background-color: lightgreen;
}

#innerMenuDiv {
  background-color: white;
}

#outterDiv2 {
  margin-top: 10px;
}

#materialDiv {
  background-color: lightcoral;
}

#outterDiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#matInnerDiv {
  padding: 10px;

}

#matrialDiv,
h3 {
  text-align: center;
}

table {
  width: 600px;
}

#TableDiv {
  background-color: lightpink;
}

#innerDataTableDiv {
  width: 100%;
}
