<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div id="menuOuterDiv">
  <div id="menu">
    <a href=""> <button id="btn1"> Home </button> </a>
    <a href="hw5Comp"> <button id="btn2"> Click Here To Render HW5Component </button> </a>
    <a href="hw5Comp2"> <button id="btn3"> Click Here To Render HW5Component2 </button> </a>
  </div>
  <div id="menu">
    <a href="newPerson"> <button id="btn4"> Click Here To Enter a New Person with Template Form </button> </a>
    <a href="newPersonR"> <button id="btn5"> Click Here To Enter a New Person with Reactive Form </button> </a>
    <a href="animal"> <button id="btn6"> Click Here To Edit the Animal Class </button> </a>
  </div>
</div>
<router-outlet></router-outlet>
