#component5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

#newAnimalForm {
  margin-bottom: 20px;
}

#formHeading {
  text-align: center;
}

#clearbtn {
  margin-left: 10px;
}

#changeDataBtn {
  display: flex;
  justify-content: center;
}
