#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 45px;
}

#btn2 {
  margin-left: 10px;
}

#btn3 {
  margin-left: 10px;
}

#btn4 {
  margin-left: 10px;
}
