/* Ricardo Rhone  */
/* TTS Front End Project  - recreate the wordpress.com homepage */
/* September 16 - 18, 2019  */

/* ========= FONTS ================== */
@font-face {
    font-weight: 500;
    font-display: swap;
    font-family: 'Recoleta';
    src: url("https://s1.wp.com/i/fonts/recoleta/500.eot");
    src: url("https://s1.wp.com/i/fonts/recoleta/500.eot?#iefix") format("embedded-opentype"), url("https://s1.wp.com/i/fonts/recoleta/500.woff2") format("woff2"), url("https://s1.wp.com/i/fonts/recoleta/500.woff") format("woff"), url("https://s1.wp.com/i/fonts/recoleta/500.ttf") format("truetype")
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Noticons';
    src: url('//s0.wp.com/i/noticons/Noticons.woff') format('woff'), url('//s0.wp.com/i/noticons/Noticons.ttf') format('truetype'), url('//s0.wp.com/i/noticons/Noticons.svg#Noticons') format('svg')
}

* {
    font-weight: 400;
    letter-spacing: 0
}

body {
    font-family: "Noto Sans", Helvetica, Arial, sans-serif
}

/* ========= SECTION 1 ================== */
/* --------- Navigation ---------- */

.topContainer {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #016087;
    display: flex;
    flex-direction: column;
}

#navContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}


/* left Nav */
.logoLink {
    padding: 0;
    margin: 0;
}

.logo {
    width: 170px;
    height: 36px;
    fill: currentcolor;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


#leftNav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#leftNav ul li {
    margin-left: 20px;
}

.noLeftPadding {
    padding-left: 0;
}

#leftNav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Right Nav */
#rightNav {
    padding-right: 40px;
}

#rightNav ul {
    display: flex;
    list-style: none;
    height: 36px;
    align-items: center;
}

#rightNav ul li {
    margin-left: 20px;
}

#rightNav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Middle Section */
.midSection {
    display: flex;
    justify-content: space-between;
    background-color: #016087;
    background-image: url(/Projects/FrontEndProject/assets/img/wordpress/headline-w.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 10%;
}

#Perc {
    width: 45%;
}

#Perc h1 {
    color: #FFFFFF;
    font-size: 46px;
    line-height: 59px;
    letter-spacing: 0;
    font-weight: 700;
    font-family: Recoleta, Georgia, "Times New Roman", Times, serif;
    text-align: left;
    /* z-index: 5;
    position: relative;
    margin: 0 auto;
    max-width: 782px; */
}

#Perc h1>span {
    display: block;
}

#Perc p {
    margin-top: 2rem;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 400;
    margin: 4rem 0 0;
    text-align: left;
    color: #bbc9d5;
}

#Perc p>span {
    display: block;
}

.topContBtn {
    margin-top: 3rem;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-rendering: optimizeLegibility;
    color: #fff;
    background: #d52c82;
    border-color: #d52c82;
    outline: none;
    border-radius: 6px;
    border-bottom-width: 2px;
    padding: .5em 1.5em .55em;
    transition: opacity .15s ease-out;
}

.topContBtn:hover,
.topContBtn:focus {
    opacity: .85;
    color: #fff;
}

.topContBtn:focus {
    outline: 1px dotted;
}

.topContBtn:active {
    opacity: .65;
    outline: none;
    transition: none;
    border-top-width: 2px;
    border-bottom-width: 1px;
}

/* ========= SECTION 2 ================== */
.secondContainer {
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url(/Projects/FrontEndProject/assets/img/wordpress/jan-2019-texture.jpg)
}

.freeToStartDiv {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
}

#firstDiv {
    width: 45%;
}

#firstDiv h1 {
    color: #FFFFFF;
    font-size: 46px;
    line-height: 59px;
    letter-spacing: 0;
    font-weight: 700;
    font-family: Recoleta, Georgia, "Times New Roman", Times, serif;
    text-align: left;
    /* z-index: 5;
    position: relative;
    margin: 0 auto;
    max-width: 782px; */
}

#firstDiv h1>span {
    display: block;
}

#firstDiv p {
    margin-top: 2rem;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 400;
    margin: 1rem 0 0;
    text-align: left;
    color: #bbc9d5;
}

#firstDiv p>span {
    display: block;
}

.freeCard {
    color: #070d13;
    background: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .05);
}

.freeCard a {}


/* ========= SECTION 5 ================== */
#section5 {
    width: 100vw;
    background-color: #204a69;
    padding: 8rem 7%;
}

#outerDivSec5 {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#section5imgDiv {
    padding-right: 138px;
}

#section5imgDiv img {
    width: 336px;
    height: 438px;
}

#section5text h3 {
    /* order: 2;
    padding-left: 6rem; */
    display: flex;
    flex-direction: column;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0;
    font-weight: 500;
    font-family: Recoleta, Georgia, "Times New Roman", Times, serif;
    color: #FFFFFF;
}

#section5PandA {
    margin: 4rem 0 0 8rem;
    color: #bbc9d5;
}

#section5text p {
    margin: 0;
    margin-top: 3rem;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
}

#section5text a {
    text-decoration: none;
}

/* +++++++ SECTION MEDIA QUERIES ++++++ */
@media (max-width:782px) {
    #outerDivSec5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #section5imgDiv {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section5imgDiv img {
        width: 168px;
        height: 219px;
    }

    #section5text h3 {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0;
        font-weight: 500;
        font-family: Recoleta, Georgia, "Times New Roman", Times, serif;
        color: #FFFFFF;
    }

    #section5PandA {
        margin: 0;
        color: #bbc9d5;
    }

}

@media (max-width:960px) {

    #section5imgDiv img {
        width: 168px;
        height: 219px;
    }

    #section5text h3 {
        padding: 0;
        margin: 0;
        display: flex;

        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0;
        font-weight: 500;
        font-family: Recoleta, Georgia, "Times New Roman", Times, serif;
        color: #FFFFFF;
    }

    #section5PandA {
        margin: 0;
        color: #bbc9d5;
    }

}


/* ========= FOOTER ================== */

footer {
    width: 100vw;
}

.footerOuterDiv {
    display: flex;
    flex-direction: column;
    padding: 3rem 7% 2rem;
    background: #141517;
}

.footerLinks1 {
    margin-top: 1rem;
    /* margin-left: 140px;
    margin-right: 140px; */
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

.footerLinks1 h6 {
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.footerLinks1 a {
    color: rgba(255, 255, 255, .7);
}

.footerLinks1 a:hover {
    color: #FFFFFF;
}

.footerLinks2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 5.7% 2rem;
}

.footerLinks2c {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    /* float: right; */
    line-height: 22px;
    letter-spacing: 0;
    margin-left: -5px;
    padding-bottom: 5px;
    color: #93989d;
}

.footerLinks1 ul,
.footerLinks2 ul {
    list-style: none;
    padding: 0;
}

.footerLinks1 ul {
    padding-top: 1rem;
}

.footerLinks1 ul li a,
.footerLinks2 ul li a {
    text-decoration: none;
}

.footerLinks2b ul {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

.footerLinks2b ul li {
    padding-left: 10px;
}

.footerLinks2b ul li a {
    color: #FFFFFF;
}

#EN {
    padding: 2px 3px;
    font-size: 11px;
    line-height: 11px;
    border: 1px solid;
    border-radius: 2px;
    display: inline-block;
}

.footerLinks2c p {
    float: right;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    margin-left: -5px;
    padding-bottom: 5px;
    color: #93989d;
}

.footerLogo {
    height: 23px;
    min-width: 131px;
    display: inline-block;
}

/* +++++ FOOTER MEDIA QUERIES +++++ */
@media (max-width:782px) {
    .footerLinks1 {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .footerLinks1 div {
        margin-top: 2rem;
    }

    .footerLinks2 ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width:960px) {
    .footerLinks2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
}